.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    background: $dark-color;
    border-radius: 5px;
    text-align: center;

    width: 218px;
    height: 60px;
    cursor: pointer;

    transition: color 0.4s ease-in, background .4s ease-in;
    &:hover {
        background: transparent;
        border: 2px solid $dark-color;
        color: $dark-color;
    }
}

@media(max-width: 992px) {
    .btn {
        font-size: 18px;
        width: 196px;
    }
}

@media(max-width: 767px) {
    .btn {
        font-size: 16px;
        width: 178px;
        height: 50px;
    }
}

@media(max-width: 575px) {
    .btn {
        font-size: 14px;
        width: 200px;
        height: 50px;
    }
}

@media(max-width: 320px) {
    .btn {
        font-size: 14px;
        width: 178px;
        height: 50px;
    }
}