.first {
    padding:100px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &-text {
            position: relative;
            &::after {
                content: url('../image/icons/idea.svg');
                position: absolute;
                top: 15%;
                right: 40px;
            }
        }
        &-img {
            padding-top: 50px;
        }
    }

    &__title {
        max-width: 380px;
        font-size: 64px;
        line-height: 80px;
        margin-bottom: 40px;
    }

    &__text {
        max-width: 546px;
        margin-bottom: 60px;
        font-size: 24px;
        line-height: 36px;
    }

    &__btn {
        width: 438px;
        height: 118px;
        font-size: 36px;
        line-height: 54px;
        border: none;
        &:hover {
            background-color: transparent;
            color: $dark-color;
        }
    }
}



