.header {
    padding-top: 55px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: auto;
        }
    }

    &__btn {
        padding: 20px 55px;
        background-color: transparent;
        border: 2px solid $dark-color;
        border-radius: 5px;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #000000;

        cursor: pointer;
        transition: color 0.4s ease-in, background-color 0.4s ease-in;
        &:hover {
            color: #ffffff;
            background-color: $dark-color;
        }
    }
}

.nav {
    margin-right: 40px;
    &__list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &-item {
            margin-right: 40px;
            &:last-child {
                margin-right: 0;
            }
        }

        &-link {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: $dark-color;
            transition: color 0.3s ease-in;

            &:hover {
                color: #4f85a1;
            }
        }
    }
}



.close-menu {
    display: none;
    font-size: 28px;
    font-weight: bold;
}

.burger {
    display: none;
    cursor: pointer;
    &-line {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #39515E;;
        border-radius: 2px;
        margin-bottom: 5px;

        &:last-child {
            width: 22px;
            margin-bottom: 0;
        }
    }
}